main {
    #snippetSection {
        background-color: $black;

        .container {
            @include container;

            h1 {
                @include projectH;
            }

            .grid {
                @include grid;
                grid-template-columns: 1fr 1fr;

                .box {
                    @include snippet;
                    h3 {
                        @include bigP;
                        margin: 50px 0px 3px 40px;
                    }
                    p {
                        @include secondP;
                        margin-left: 25px;
                    }
                   
                    .snippetTailwind{
                        @include snippetTailwind;
                    }
                    .snippetReact{
                        @include snippetReact;
                    }
                    .snippetSass{
                        @include snippetSass
                    }
                    .snippetHtml{
                        @include snippetHtml;
                    }
                    
                    .stars {
                        img {
                            position: absolute;
                            right: 130px;
                            bottom: 32px;
                        }
                        p {
                            position: absolute;
                            right: 52px;
                            bottom: 30px;
                        }
                    }
                }
             
            }
            #snippetBtn {
                margin-left: 30px;
                button{
                   @include seeMore;
                }
                img{
                   @include seeImg;
                }
                span {
                   @include seeSpan
                }
              }
        }
    }
}